{% extends "insda/base.html" %}
{% block content %}
<head>
    <style>
        .starter-template {
          padding: 3rem 1.5rem;
          text-align: center;
        }
    </style>
</head>
<main role="main" class="container">

      <div class="starter-template">
        <h1 class="display-3">It's Dayoung World!</h1>
        <p class="lead">Hello, Welcome to my personal exhibition! Thank you for visiting and have a nice day.<br>
        To learn more about this homepage, click the button below.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </main>
{% endblock content %}