{% extends "insda/base.html" %}
{% block content %}
<div class="jumbotron">
        <div class="container">
          <h1 class="display-3">It's Dayoung World!</h1>
          <p class="lead">Hello, Welcome to my personal exhibition! Thank you for visiting and have a nice day.<br>
          To learn more about this homepage, click the button below.
          </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
<!--<div class="container" align="center">-->
    <!--<div style="margin-top:50px; margin-bottom:50px">-->
        <!--<h1>Hello, This is Dayoung World!<br>-->
        <!--Have a Good Day :D</h1>-->
    <!--</div>-->
<!--</div>-->
{% endblock content %}